.searchBar {
  display: flex;
  justify-content: center;
  width: 1000px;
  outline: none;
  border: none;
  padding-bottom: 20px;
}

.inputField {
  width: 900px;
  border-right: 0px;
  height: 50px;
  outline: none;
  border-color: transparent;
  background-color: transparent;
  color: black;
  font-size: 16px;
}
::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 200;
}
.signInOption {
  display: flex;
  padding-left: 20px;
  background: transparent;
}

.signIn {
  background-color: transparent;
  color: black;
  border: 0;
}

.menuBar {
  padding-left: 20px;
}
.searchButton {
  border-left: 10px;
  height: 52px;
  border-color: transparent;
  background-color: transparent;
}
@media only screen and (max-width: 500px) {
    .searchBar {
        display: flex;
        justify-content: center;
        width: 100%;
        outline: none;
        border: none;
        padding-bottom: 20px;
      }
      ::placeholder {
        color: black;
        font-size: 16px;
        font-weight: 200;
      }
      
      .inputField {
        width: 100%;
        border-right: 0px;
        height: 50px;
        outline: none;
        border-color: transparent;
        background-color: transparent;
        color: black;
        font-size: 16px;
      }
    .searchButton {
        border-color: transparent;
        background-color: transparent;
        justify-content: center;
      }

}

@media only screen and (min-width:700px) {
    .searchBar {
        display: flex;
        justify-content: center;
        width: 100%;
        outline: none;
        border: none;
        padding-bottom: 20px;
      }
      ::placeholder {
        color: black;
        font-size: 16px;
        font-weight: 200;
      }
      
      .inputField {
        width: 100%;
        border-right: 0px;
        height: 50px;
        outline: none;
        border-color: transparent;
        background-color: transparent;
        color: black;
        font-size: 16px;
      }
    .searchButton {
        border-color: transparent;
        background-color: transparent;
        justify-content: center;
      }

}