.headerStyle {
  display: flex;
  justify-content: space-between;
  background-color: "#2D3748";
  width: "100%";
  padding: "15px";
  height: "200px";
  padding: "100px";
}

h1{
color: "#FFFFFF";
font-size: "1.6rem";
}