.headerStyle {
  display: flex;
  justify-content: space-between;
  background-color: "#2D3748";
  width: "100%";
  padding: "15px";
  height: "200px";
  padding: "100px";
}

h1 {
  color: "#FFFFFF";
  font-size: "1.6rem";
}


.searchBar {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  .headerStyle {
    display: grid;
    justify-content: space-between;
    background-color: "#2D3748";
    width: "100%";
    padding: "15px";
    height: "200px";
    padding: "100px";
  }
  .searchBar {
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .h1div{
    display: flex;
    justify-content: center;
     color: "#FFFFFF";
  font-size: "1.6rem";
}
}

@media only screen and (min-width: 700px) {
    .headerStyle {
      display: grid;
      justify-content: space-between;
      background-color: "#2D3748";
      width: "100%";
      padding: "15px";
      height: "200px";
      padding: "100px";
    }
    .searchBar {
      padding-top: 10px;
      padding-bottom: 10px;
  
    }
    .h1div{
      display: flex;
      justify-content: center;
       color: "#FFFFFF";
    font-size: "1.6rem";
  }
  }
  