.gallery {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 20vw);
    grid-gap: 15px;
    padding-top: 100px;
}

.gallery__img {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width:500px) {
    .gallery {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 35vw);
        grid-gap: 15px;
        padding-top: 50px;
    }

}
@media only screen and (min-width:700px) {
    .gallery {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 35vw);
        grid-gap: 15px;
        padding-top: 50px;
    }

}