.gallery {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 20vw);
    grid-gap: 15px;
    padding-top: 100px;
}

.gallery__img {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}