.gallery {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 20vw);
    grid-gap: 15px;
    padding-top: 100px;
}

.gallery__img {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media only screen and (min-width:200px) and (max-width:499px) {
    .gallery {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 35vw);
        grid-gap: 15px;
        padding-top: 50px;
    }
    .gallery__item--0{
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

}
@media only screen and (min-width:500px) and (max-width:950px) {
    .gallery {
        background-color: black;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 35vw);
        grid-gap: 15px;
        padding-top: 50px;
    }
    .gallery__item--0{
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        margin-block-start: 10px;
        margin-block-end: 10px;
    }


}